<div class="row padd-bottom-20">
    <div class="col-5">
        <div class="row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Business Track</label>
            <div class="col-sm-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another
                            action</button>
                        <button class="dropdown-item" type="button">Something
                            else here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Associate</label>
            <div class="col-sm-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Right-aligned menu
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another
                            action</button>
                        <button class="dropdown-item" type="button">Something
                            else here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="col-12">
                <!-- <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham"
                [gridOptions]="gridOptions"
                [enableSorting]="true"
                [multiSortKey]="multiSortKey"
                [animateRows]="true"
                [enableFilter]="true"
                [floatingFilter]="true"
                >
                
   </ag-grid-angular> -->

   <!-- <div style="margin-bottom:4px"><input placeholder="Filter..." type="text" id="filter-textbox" (input)="onTextboxFilterChanged()"></div> -->
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 600px;"
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    [enableSorting]="true"
    [multiSortKey]="multiSortKey"
    [animateRows]="true"
    [enableFilter]="true"
    [floatingFilter]="true"
    [getNodeChildDetails]="getNodeChildDetails"
    [rowClassRules]="rowClassRules"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    ></ag-grid-angular>
        </div>
    </div>
       
    </div>   
<!-- <div class="card">
    <div class="row card-header no-margin">
        <div class="col-1"></div>
        <div class="col">Staff No</div>
        <div class="col">Staff Name</div>
        <div class="col">Role</div>
        <div class="col">Project Name</div>
        <div class="col">Track Name</div>
        <div class="col">Rating History</div>
        <div class="col">Rate Associate</div>
        <div class="col">Rated on</div>
    </div>
    <div class="card-body">
    <div *ngFor="let data of [1,3,4,5,6,1,3,4,5,6]; let i = index">
        <div class="row card-body no-margin">
            <div class="col-1">
                <div class="fa fa-plus" [attr.data-target]="'#view'+ i" data-toggle="collapse" aria-expanded="false">
                </div>
            </div>
            <div class="col">{{i}}</div>
            <div class="col">sasa</div>
            <div class="col">sacf</div>
            <div class="col">sdsaax</div>
            <div class="col">sdjdjd</div>
            <div class="col">sdjdjd</div>
            <div class="col">sdjdjd</div>
            <div class="col">sdjdjd</div>
        </div>


        <div class="collapse" id="view{{i}}">
            <div *ngFor="let datas of [1,3,4,5,6]; let j = index">
                <div class="row card-body no-margin" style="background: rgb(230, 255, 243);">
                    <div class="col-1">
                        <div class="fa fa-plus" [attr.data-target]="'#view2'+ j" data-toggle="collapse"
                            aria-expanded="false">
                        </div>
                    </div>
                    <div class="col">yuruyuruyury</div>
                    <div class="col">55215</div>
                    <div class="col">12121222</div>
                    <div class="col">5555544444</div>
                    <div class="col">233334555</div>
                    <div class="col">88874</div>
                    <div class="col">2323234</div>
                    <div class="col">5322455</div>
                </div>
                <div class="collapse" id="view2{{j}}">
                    <div class="row card-body no-margin" *ngFor="let data of [1,3,4,5,6]; let j = index"
                        style="background: #FFE0A3;">
                        <div class="col-1">
                          
                        </div>
                        <div class="col">J{{j}}</div>
                        <div class="col">88888888888888</div>
                        <div class="col">222222</div>
                        <div class="col">0995095</div>
                        <div class="col">sdjdjd</div>
                        <div class="col">sdjdjd</div>
                        <div class="col">sdjdjd</div>
                        <div class="col">sdjdjd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->

<!-- <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered rounded" cellspacing="0"
    width="100%">
    <thead>
        <tr>
            <th>Staff Name</th>
            <th>Role</th>
            <th>Project Name</th>
            <th>Track Name</th> 
            <th>Rating History</th>
            <th>Rate Associate</th>
            <th>Rated on</th>
            
        </tr>
    </thead>
    <tbody>
       
   
       
        <tr >
            <td> 31757</td>
            <td> AMULYA YADAVILLI</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AV_GP_ASF_OFFSHORE_Q3FY18_EE</td>
            <td> SUPPORT</td>
            <td> <a href="viewDetails.do?staffNo=31757&amp;projectId=920163031&amp;businessTrackId=2016-08-2018:21:36.3850.24591875372122596"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=31757&amp;projectId=920163031&amp;trackId=2016-08-2018:21:36.3850.24591875372122596">Rate
                    Associate</a> </td>
            <td> 2016-08-29</td>
        </tr>
        
        <tr >
            <td> 36358</td>
            <td> CHAITANYA KUMAR</td>
            <td> SENIOR SOFTWARE ENGINEER</td>
            <td> AG12_GP_GSE_NETACAD_SUPPORT_Q4FY18_OFFSHORE_EE</td>
            <td> IMS UNIFIED IT</td>
            <td> </td>
            <td> <a
                    href="rating.do?staffNo=36358&amp;projectId=920191013&amp;trackId=2017-09-0521:23:16.1490.7141166861047898">Rate
                    Associate</a> </td>
            <td> </td>
        </tr>
        
        <tr >
            <td> 40611</td>
            <td> CHANDAN UPADHYA</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AG05_GP_GSQS_Q2O_CONFIG_SUPPORT_OFFSHORE_Q3FY18_EE</td>
            <td> CONFIG</td>
            <td> <a href="viewDetails.do?staffNo=40611&amp;projectId=920196008&amp;businessTrackId=2016-05-2011:03:30.6560.900614570436054"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=40611&amp;projectId=920196008&amp;trackId=2016-05-2011:03:30.6560.900614570436054">Rate
                    Associate</a> </td>
            <td> 2018-01-12</td>
        </tr>
        
        <tr >
            <td> 50910</td>
            <td> GEETHA MADATI</td>
            <td> ANALYST</td>
            <td> SAM_GP_COMMERCE_OPS_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=50910&amp;projectId=920166279&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=50910&amp;projectId=920166279&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2019-06-11</td>
        </tr>
        
        <tr >
            <td> 44826</td>
            <td> MANGESH BALASAHEB SURYAWANSHI</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AV_GP_ASF_OFFSHORE_Q3FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=44826&amp;projectId=920163031&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=44826&amp;projectId=920163031&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2016-08-26</td>
        </tr>
        
        <tr >
            <td> 47576</td>
            <td> NARAYANASWAMY DAMA</td>
            <td> SENIOR SOFTWARE ENGINEER</td>
            <td> GV_GP_HR_CA_CSR_Q4FY18</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=47576&amp;projectId=920170058&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=47576&amp;projectId=920170058&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2018-12-31</td>
        </tr>
        
        <tr >
            <td> 47670</td>
            <td> PRACHI SURESH MORE</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AG12_GP_GSE_NETACAD_SUPPORT_Q4FY18_OFFSHORE_EE</td>
            <td> IMS UNIFIED IT</td>
            <td> </td>
            <td> <a
                    href="rating.do?staffNo=47670&amp;projectId=920191013&amp;trackId=2017-09-0521:23:16.1490.7141166861047898">Rate
                    Associate</a> </td>
            <td> </td>
        </tr>
        
        <tr >
            <td> 47791</td>
            <td> RAHULM MUNNA SAHU</td>
            <td> SOFTWARE ENGINEER</td>
            <td> GV_GP_HR_CA_CSR_Q4FY18</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> </td>
            <td> <a
                    href="rating.do?staffNo=47791&amp;projectId=920170058&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> </td>
        </tr>
        
        <tr >
            <td> 36291</td>
            <td> RAMESWARA REDDY M</td>
            <td> SENIOR SOFTWARE ENGINEER</td>
            <td> GV_GP_HR_CA_CDA_FRANCE_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=36291&amp;projectId=63409025&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=36291&amp;projectId=63409025&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2016-09-01</td>
        </tr>
        
        <tr >
            <td> 51769</td>
            <td> ROHIT CHANDRAKANT KULKARNI</td>
            <td> SENIOR TECHNICAL SPECIALIST</td>
            <td> GV_GP_HR_CA_CSR_Q4FY18</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> </td>
            <td> <a
                    href="rating.do?staffNo=51769&amp;projectId=920170058&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> </td>
        </tr>
        
        <tr >
            <td> 50909</td>
            <td> SANDHYA RANI SIVADANAM</td>
            <td> ANALYST</td>
            <td> SAM_GP_COMMERCE_OPS_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> </td>
            <td> <a
                    href="rating.do?staffNo=50909&amp;projectId=920166279&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> </td>
        </tr>
        
        <tr >
            <td> 40712</td>
            <td> SAROJ KUMAR DAS</td>
            <td> TEAM LEAD</td>
            <td> AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=40712&amp;projectId=920196010&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=40712&amp;projectId=920196010&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2018-01-12</td>
        </tr>
        
        <tr >
            <td> 40086</td>
            <td> SONI KUMARI</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=40086&amp;projectId=920196010&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=40086&amp;projectId=920196010&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2017-10-03</td>
        </tr>
        
        <tr >
            <td> 49795</td>
            <td> SURABHI JOSHI</td>
            <td> JUNIOR SOFTWARE ENGINEER</td>
            <td> AG07_GP_GSQS_Q2O_CCW_ADAPTIVE_SERVICES_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=49795&amp;projectId=920164073&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=49795&amp;projectId=920164073&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2017-12-04</td>
        </tr>
        
        <tr >
            <td> 49220</td>
            <td> UTKARSH PRATAP SINGH</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AG12_GP_GSE_NETACAD_SUPPORT_Q4FY18_OFFSHORE_EE</td>
            <td> IMS UNIFIED IT</td>
            <td> </td>
            <td> <a
                    href="rating.do?staffNo=49220&amp;projectId=920191013&amp;trackId=2017-09-0521:23:16.1490.7141166861047898">Rate
                    Associate</a> </td>
            <td> </td>
        </tr>
        
        <tr >
            <td> 40270</td>
            <td> VIKASH TOMAR</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AG07_GP_GSQS_Q2O_CCW_ADAPTIVE_SERVICES_Q4FY18_EE</td>
            <td> CONFIG</td>
            <td> <a href="viewDetails.do?staffNo=40270&amp;projectId=920164073&amp;businessTrackId=2016-05-2011:03:30.6560.900614570436054"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=40270&amp;projectId=920164073&amp;trackId=2016-05-2011:03:30.6560.900614570436054">Rate
                    Associate</a> </td>
            <td> 2018-01-12</td>
        </tr>
        
        <tr >
            <td> 26798</td>
            <td> VINOD GIDWANI</td>
            <td> SENIOR SOFTWARE ENGINEER</td>
            <td> AG07_GP_GSQS_Q2O_CCW_ADAPTIVE_SERVICES_Q4FY18_EE</td>
            <td> CAS APPLICATION MANAGEMENT</td>
            <td> <a href="viewDetails.do?staffNo=26798&amp;projectId=920164073&amp;businessTrackId=2017-09-0521:23:16.1300.16271873498934541"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=26798&amp;projectId=920164073&amp;trackId=2017-09-0521:23:16.1300.16271873498934541">Rate
                    Associate</a> </td>
            <td> 2017-12-04</td>
        </tr>
        
        <tr >
            <td> 44419</td>
            <td> VIPIN KUMAR</td>
            <td> SOFTWARE ENGINEER</td>
            <td> AG05_GP_GSQS_Q2O_CONFIG_SUPPORT_OFFSHORE_Q3FY18_EE</td>
            <td> CONFIG</td>
            <td> <a href="viewDetails.do?staffNo=44419&amp;projectId=920196008&amp;businessTrackId=2016-05-2011:03:30.6560.900614570436054"
                    target="_blank">View Rating</a> </td>
            <td> <a
                    href="rating.do?staffNo=44419&amp;projectId=920196008&amp;trackId=2016-05-2011:03:30.6560.900614570436054">Rate
                    Associate</a> </td>
            <td> 2018-01-12</td>
        </tr>
         
    </tbody>

</table>-->