
  tbody {
    display:block;
    max-height:500px;
    overflow-y:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    /* table-layout:fixed; */
  }
  .padd-bottom-20{
    padding-bottom: 20px;
  }




  .zen-row,.zen-row-header{
    padding: 0px;
    border-bottom: 1px solid #ccc;
     /* overflow: hidden; */
    display: -webkit-box;
   
}
.zen-row-header{
    background: #049ad2;
    color: #fff;
}
.zen-cell {
     /* display: inline;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     padding: 10px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
     /* display: inline-block; */
    border: 1px solid rgba(225, 228, 232, 0.58);

}
.tableGridHeader{
    z-index: 1;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.tableGridBody {
    top: 0px;
    position: relative;
    height: 470px;
}
/* .firstLevel{
   padding-left: 11px;
} */
.secondLevel{
    padding-left: 15px;
}
.thirdLevel{
    padding-left:30px;
}

.noMatchFound{
  width: 100%;
  border: 1px solid #d3d2d2;
  text-align: center;
  background: #e7e9ea;
  line-height: 36px;
  margin-top: 15px;
}

.tableGridBody>*:nth-child(odd) {
  background: #f8f6f6;
}
.more-less{
  color: #0190bb;
    cursor: pointer;
}
.first i {
  position: absolute;
  left: 15px;
  top: 15px;
}
.first span {
  padding-left: 20px;
  position: relative;
  left: 13px;
}

/* css for filter box */
.column-filter-item {
  padding: 3px 10px;
  font-size: .8rem;
  list-style: none;
  border-bottom: 1px solid #e7e5e5;
}