<!-- <app-header></app-header> -->
<app-loading-spinner></app-loading-spinner>           

<div class="login-reg-panel">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="login-info-box">
        <h2>Have an account?</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
    </div>
                        
    <div class="register-info-box">
            <img src="../../../../assets/images/ZenForte3.png" class="logo"/>
    </div>
    <div class="white-panel">
            <!-- <img src="../../../../assets/images/ZenForte3.png" class="logo"/> -->
        <div class="login-show">
            <h2>LOGIN</h2>
            <input type="text" placeholder="User Name" class="form-control" ngModel name="username" required>
            <input type="password" placeholder="Password" class="form-control" ngModel name="password" required>
            <input type="submit" value="Login" [routerLink]="'/user/personal/details'" [disabled]="!loginForm.valid">
            <a href="">Forgot password?</a>
        </div>
    </div>
</form>
</div>
<div class="sidebar-background" ></div>