<div class="row padd-bottom-20">
    <div class="col-5 padd-bottom-20">
        <div class="row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Business Track</label>
            <div class="col-sm-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another
                            action</button>
                        <button class="dropdown-item" type="button">Something
                            else here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Associate</label>
            <div class="col-sm-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Right-aligned menu
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another
                            action</button>
                        <button class="dropdown-item" type="button">Something
                            else here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered rounded" >
            <thead>
                <tr>
                    <th>Demand ID</th>
                    <th>Opportunity ID</th>
                    <th>Opportunity Desc</th>
                    <th>Client Manager</th>
                    <th>Customer Dept/Program</th>
                    <th>Assigned To</th> <!-- DefectID#1079 -->
                    <th>Created By(EM)</th>
                    <th>Created On</th>
                    <th>Offshore Delivery Center Head</th>
                    <th>Engagement Manager</th>
                    <th>Onsite Delivery Head</th>
                    <th>Delivery Head</th>
                    <th>Program Manager</th>
                    <th>Skill Family</th>
                    <th>Primary Skill</th>
                    <th>Secondary Skill</th>
                    <th>Location</th>
                    <th>Date Demand Received</th>
                    <th>Ramp Down(Yes/No)</th>
                    <th>Demand Status</th>
                    <th>Remark</th>
                    <th>Probability (in %)</th>
                    <th>No of Positions</th>
                    <th>Total Billing loss(in $)</th>
                    <th>Total Billing loss(in Days)</th>
                    <th>Billing Rate</th>
                    <th>Fulfilled Status</th>
                    <th>Billing Start Date</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
                    <td> 49234</td>
                    <td> ADIL HUSSAIN</td>
                    <td> ASSOCIATE SYSTEM ENGINEER</td>
                    <td> AG12_GP_GSE_NETACAD_SUPPORT_Q4FY18_OFFSHORE_EE</td>
                    <td> IMS UNIFIED IT</td>
                    <td> <a href="viewDetails.do?staffNo=49234&amp;projectId=920191013&amp;businessTrackId=2017-09-0521:23:16.1490.7141166861047898"
                            target="_blank">View Rating</a> </td>
                    <td> <a
                            href="rating.do?staffNo=49234&amp;projectId=920191013&amp;trackId=2017-09-0521:23:16.1490.7141166861047898">Rate
                            Associate</a> </td>
                    <td> 2019-02-09</td>
                    <td> 49234</td>
                    <td> ADIL HUSSAIN</td>
                    <td> ASSOCIATE SYSTEM ENGINEER</td>
                    <td> AG12_GP_GSE_NETACAD_SUPPORT_Q4FY18_OFFSHORE_EE</td>
                    <td> IMS UNIFIED IT</td>
                    <td> <a href="viewDetails.do?staffNo=49234&amp;projectId=920191013&amp;businessTrackId=2017-09-0521:23:16.1490.7141166861047898"
                            target="_blank">View Rating</a> </td>
                    <td> <a
                            href="rating.do?staffNo=49234&amp;projectId=920191013&amp;trackId=2017-09-0521:23:16.1490.7141166861047898">Rate
                            Associate</a> </td>
                    <td> 2019-02-09</td>
                    <td> 49234</td>
                    <td> ADIL HUSSAIN</td>
                    <td> ASSOCIATE SYSTEM ENGINEER</td>
                    <td> AG12_GP_GSE_NETACAD_SUPPORT_Q4FY18_OFFSHORE_EE</td>
                    <td> IMS UNIFIED IT</td>
                    <td> <a href="viewDetails.do?staffNo=49234&amp;projectId=920191013&amp;businessTrackId=2017-09-0521:23:16.1490.7141166861047898"
                            target="_blank">View Rating</a> </td>
                    <td> <a
                            href="rating.do?staffNo=49234&amp;projectId=920191013&amp;trackId=2017-09-0521:23:16.1490.7141166861047898">Rate
                            Associate</a> </td>
                    <td> 2019-02-09</td>
                    <td> 2019-02-09</td>
                </tr>


            </tbody>

        </table>
    </div>
</div>